.footer {
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
.phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}
.inline_nav {
  display: inline-block;
}
