/* .nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
}


.right-bar{
    display: flex;
}


.right-bar *{
    margin-left: 20px;
} */