@import 'breakpoints';
.auth-card {
  display: flex;
  flex-direction: column;
  .auth-image { display: none; }
  max-width: 90vw;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    max-height: 90vh;
    width: 85vw;
    max-width: 920px;
    .auth-image { 
      display: inline-flex;
      flex: .5;
      img {
        width: 100%;
        height: auto;
      }
     }
    .form-fields {
      flex: .5 ; 
      // padding-top: 150px;
      // padding-bottom: 150px;
    }
  }
}