.in {
  outline: none !important;
  border: 1px solid #084482 !important;
  background-color: #ccc !important;
}
.in::placeholder {
  color: #084482 !important;
}
.bar {
  border: 1px solid #084482 !important;
  background-color: #ccc !important;
  color: #084482 !important;
}
.removebullet {
  list-style: none;
}
.color_text {
  color: #084482 !important;
}
.handle {
  width: 100%;
  height: auto;
  float: left;
  width: 100%;
  height: auto;
  min-height: 50%;
  min-width: 350px;
}
.noPad {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.center_text {
  text-align: center;
}
.back_img {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.gray_txt {
  color: #ccc;
}
.no_marg {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
