.skill{
    margin: 10px;
    padding: 1.5em;
    /* position: relative; */

}

.trash{
    opacity: 0.2;
}

.trash:hover{
    opacity: 1;
}

@media(max-width:550px){
    .skill{
        width: 100%;
        padding: 1em;
        margin: 10px 0px;
        box-shadow:  0 0 0 0;
    }
 }
