@import 'variables';
@import 'breakpoints';
@import 'colors';
@import 'flexbox';
@import 'spacings';
@import 'fonts';

.logo { width: 150px; }
// dimensions
.fullscreen {
  width: 100vw;
  height: 100vh
}
.full-width { width: 100% }
.full-height { flex: 1.5; }

// border classes
.slim-border { border: $slim-border; }
.slim-border-bottom { border-bottom: $slim-border; }
.slim-border-right { border-right: $slim-border; }
.border-r-circle { border-radius: 50%; }
.border-r-sm { border-radius: 10px; }
.border-r-xs { border-radius: 5px; }
.border-color-primary { border-color: $primary-color-dark }
// cursor classes
.cursor-pointer { cursor: pointer; }
.cursor-not-allowed { cursor: not-allowed; }

// text styles
.text-content {
  font-family: $font-family-1;
  font-style: normal;
  font-weight: normal;
  word-wrap: break-word;
  word-break: keep-all;
  writing-mode: horizontal-tb;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 29px;
}
.text-center { text-align: center; }
.text-right { text-align: right; }

// button styles
.btn {
  transition: 0.5s all;
  outline: none;
  border: none;
  border-radius: 7px;
  @extend .padding-horizontal-md;
  @extend .padding-vertical-sm;
  @extend .font-weight-500;
  @extend .cursor-pointer;
}

.btn-primary {
  @extend .btn;
  background: $primary-color-dark;
  color: $white;
}

.btn-disabled {
  @extend .btn;
  background: $gray-color-dark;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
  &:active {
    background-size: 100%;
    transition: background 0s;
  }
}
.ripple-primary-light {
  @extend .ripple;
  &:hover {
    color: $white;
    background: $primary-color-light radial-gradient(circle, transparent 1%, $primary-color-dark-opacity 1%) center/15000%;
  }
  &:active {
    background-color: $primary-color-dark-opacity;
  }
}

.ripple-primary-dark {
  @extend .ripple;
  &:hover {
    color: $white;
    background: $primary-color-dark radial-gradient(circle, transparent 1%, $primary-color-dark-opacity 1%) center/15000%;
  }
  &:active {
    background-color: $primary-color-dark-opacity;
  }
}
.btn-gray { background: $gray-color-dark; }

@include media-breakpoint-down(md) {
  .flex-equal-break-md {
   flex-basis: 100%;
   margin-right: 0px;
  }
}

.splash-rectangle {
  height: 100%;
  flex: 3;
  > img {
    height: 100%;
  }
}