@import 'breakpoints';
/* Flex control*/
.d-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  &.nowrap { flex-flow: nowrap; }
  &.column { flex-direction: column; }
  &.align-items-center { align-items: center; }
  &.align-items-end { align-items: flex-end; }
  &.justify-content-between { justify-content: space-between; }
  &.justify-content-center { justify-content: center; }
  &.justify-content-end { justify-content: flex-end; }
  &.align-self-end { align-self: flex-end; }
  &.d-inline-flex {  display: inline-flex; }
  &.flex-center {
    justify-content: center;
    align-items: center;
  }
}

.d-block { display: block; }
.d-inline-block { display: inline-block; }
.flex-equal, .flex-equal-break-md {
  flex: 1
}

// @include media-breakpoint-down(md) {
//  .flex-equal {
//   flex-basis: 100%;
//   margin-right: 0px;
//  }
// }
/*End of flex control*/

// position
.position-relative { position: relative; }
.position-absolute-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// overflow
.overflow-h { overflow: hidden; }
.overflow-auto { overflow: auto; }
.overflow-y-auto { overflow-y: auto }