// font variables
$xs: .85em;
$sm: .95em;
$md: 1.1em;
$lg: 1.5em;
$xlg: 2em;

// text transforms
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }

// font-sizes
.font-xlg { font-size: $xlg; }
.font-lg { font-size: $lg; }
.font-md { font-size: $md; }
.font-sm { font-size: $sm; }
.font-xs { font-size: $xs; }

//font-weights
.font-weight-bold {font-weight: bold; }
.font-weight-600 { font-weight: 600; }
.font-weight-normal { font-weight: normal; }
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-style-normal { font-style: normal; }

//font-families
.family-roboto { font-family: $font-family-1 }
.family-poppins { font-family: $font-family-2 }
.family-gothic { font-family: $font-family-3 }
//font styles
.italic { font-style: italic; }