/*****Variables*****/
$dark: #000;
$white: #fff;
$primary-color-light: #00AEFF;
$primary-color-light-opacity: rgba(0, 174, 255, 0.322);
$primary-color-dark: #084482;
$primary-color-dark-opacity: rgba(8, 68, 130, 0.88);
$gray-color-light: #E7E7E7;
$gray-color-dark: #B5B5B5;
$facebook-color: #3B5998;
$google-color: #DB4A39;
$font-family-1: 'Poppins', sans-serif;
$font-family-2: 'Roboto', sans-serif;
$slim-border: 1px solid $gray-color-dark;